* {
    -webkit-tab-highlight-color: rgba(0,0,0,0);
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
}
@font-face{
        font-family:'Open Sans';
        font-style:normal;
        font-weight:400;
        src:local('Open Sans'),
            local('OpenSans'),
            url('cJZKeOuBrn4kERxqtaUH3bO3LdcAZYWl9Si6vvxL-qU.woff') format('woff');
    }
     
                    
paper-tab {
 color:white;
    font-size-adjust: auto;
    font-size:0.9em;

}


.header {
    text-align: center;
    padding-left: 4px;
    padding-right: 4px;
}
.Title {
    padding-top:5px;
    text-decoration: bold;
    font-family: 'Open Sans',sans-serif;
    color: #132e52;
    font-size: 1.3em;
    border-bottom:1px solid #132e52;
    padding-bottom:2px;
    padding-left: 4px;
    padding-right: 4px;
    
}
.Para {
    color:black;
    font-size:0.87em;
    font-weight: 400;
    padding-left: 4px;
    padding-right: 4px;
    text-align:justify;
}

.white a{
    font-family:'Open Sans',sans-serif;
    color:white;
    text-decoration:none;
    font-size: 0.9em; 
}
.white a:hover {
    color:white;
    text-decoration:none;
    cursor:pointer;
}
a {
    color:blue;
}
#imgs {
    text-align: center;
}
.centered {
 padding-top: 4px;
    text-align: center;
    image align-content: center;
}

#lista {
 margin-left: -15px;
    color: dimgrey;
}

.Navigation {
 font-size:0.8em;   
}
.paracenter {
    text-align:center;
    color:#6f8f3a;
    font-style:italic;
    padding-left: 4px;
    padding-right: 4px;
}
a:hover {
    color:blue;
    text-decoration:none;
    cursor:pointer;
}
#paralist {
    text-align: center;
    list-style: none;
    font-style:italic;
    color:dimgrey;
    padding-top:0px;
    padding-left: 4px;
    padding-right: 4px;
}
em {
 color:dimgrey;
}

div {
    color:black;
}
img {
    max-width: 100%;
    height: auto;
    width: auto\9; /* ie8 */
}

      :root {
        --paper-toolbar-background: #00bcd4;
      }

      body {
        font-family: 'Open Sans',sans-serif;
        margin:inherit;
        padding: 5px;
        color: #fff;
      }

      paper-tabs, paper-toolbar,paper-tab.link {
        background-color: #132e52;
        color: #fff;
        box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.3);
        object-position: center;
        display: inline-block;
      }

      h3 {
        font-size: 16px;
        font-weight: 400;
        padding-top: 20px;
        padding-left: 0px;
        padding-right: 0px;
      }
/* Paper Ripple */
    .headerbutton {
      display: inline-block;
      position: relative;
      width: inherit;
      height: inherit;
      line-height: 0px;
      border-radius: 0px;
      font-size: 0.9em;
      background-color: #ffffff;
      color: #ffff80;
        text-align: center;
    }
.button {
    margin-top: 4px;
 font-size: 0.87em;   
}
    .button.raised {
      transition: box-shadow 0.2s cubic-bezier(0.4, 0, 0.2, 1);
      transition-delay: 0.2s;
      box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
    }
/* Paper Button */
    .horizontal-section {
      min-width: 130px;
    }

    paper-button {
      display: block;
      margin-bottom: 10px;
    }
    paper-button[raised].colorful {
      background: #132e52;
      color: #fff;
    }
paper-button a {
    color:white;
    text-decoration: none;
    font-size: 1.2em;
}
paper-button a:hover {
 color:white;   
}